<a href="https://colab.research.google.com/github/alvaro21c/Laboratorio-2023-0/blob/main/Laboratorio2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Ejercicio 2+2
x=int(input("2+2 = "))
if x != 4:
  print("Intenta nuevamente")

2+2 = 4

In [ ]:
x=int(input("2+2 = "))
if x != 4:
  print("Intenta nuevamente")
else:
  print ("Acertaste")

2+2 = 5
Intenta nuevamente

In [ ]:
#elif 
edad = int(input("Ingresa tu edad"))
if edad <30:
  print("En",30-edad,"años ya no seras veintisiempre")
elif edad == 30:
  print("Tu tienes",edad,"años")
else:
  print("Dame el secreto de la juventud!")

Ingresa tu edad35
Dame el secreto de la juventud!

In [ ]:
#elif 
edad = int(input("Ingresa tu edad"))
if edad == 0:
   print("Es en serio?")
elif edad<30:
  print("En",30-edad,"años ya no seras veintisiempre")
elif edad == 30:
  print("Tu tienes",edad,"años")
else:
  print("Dame el secreto de la juventud!")

Ingresa tu edad29
En 1 años ya no seras veintisiempre

In [ ]:
# Ejercicio condicional

In [ ]:
# Listas
lista1=['1','fifa','family guy','adidas',"wwe"]
print(lista1) # muestra elementos de la lista
print(len(lista1)) # total de  elementos de la lista
print(lista1[1]) # extraer el segundo valor de la lista
print(lista1[3]) # extraer el cuarto valor de la lista

lista1.append('Copa Libertadores') # como añadir elementos a mi lista
print(lista1)
print(len(lista1))


lista1.pop(1) # elimina el segundo elemento de la lista
print(lista1)
lista1.pop() # eliminar el ultimo elemento de la lista
print (lista1)

# verificar si hay un elemento dentro de la lista
print ("aew" in lista1) # va a verificar si el elemento se encuentra en la lista creada

['1', 'fifa', 'family guy', 'adidas', 'wwe']
5
fifa
adidas
['1', 'fifa', 'family guy', 'adidas', 'wwe', 'Copa Libertadores']
6
['1', 'family guy', 'adidas', 'wwe', 'Copa Libertadores']
['1', 'family guy', 'adidas', 'wwe']
False

In [ ]:
# Loops (iteraciones)
#Iterar sobre la siguiente secuencia de 10 numeros (0-9)
for x in range(10): # range(y) crea un rango de valores desde 0 hasta el elemento y-1
  print (x)





# ejercicio

0
1
2
3
4
5
6
7
8
9
0
7
14
21
28

In [ ]:
# iterar entre 0-29 con una razòn de 7 (siempre inicia con cero)
for x in range(0,30,7):
  print (x)

0
7
14
21
28

In [ ]:
# iterar sobre la secuencia 5 a 0 retrocediendo -1 cada vez
for x in range(5,-1,-1):
  print(x)

5
4
3
2
1
0

In [ ]:
# Encuentra los nùmeros entre 1 y 33 que son impares
impar=[] # se crea una lista vacia que se irá llenando con los valores

for num in range(1,34):
  #si es un numero impar
  if (num%2 != 0): # el residuo de la division entre 2 debe ser diferente de cero
    impar.append(num)

print(impar)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33]

In [ ]:
equipos = ['Alianza Lima','Universitario','Manchester','Celtics','Cristal']

for x in equipos:
  if(x=='Celtics'):
    print(x,"no es un equipo de futbol")
  else:
    print(x,"es un equipo de futbol")

Alianza Lima es un equipo de futbol
Universitario es un equipo de futbol
Manchester es un equipo de futbol
Celtics no es un equipo de futbol
Cristal es un equipo de futbol

In [ ]:
# iteracion para actualizar valor

lista=[5,3,8,-1,-2.2,0]
min=lista[0] # defino al valor como el primer elemento de la lista que es 5.
print (min,'es el minimo numero')

for x in lista:
  if x<min: # si el valor x resulta menor al valor minimo establecido que se actualice
  #actualizar
    min=x

print (min,'es el minimo numero')

5 es el minimo numero
-2.2 es el minimo numero

In [ ]:
# iteracion dentro de una iteracion
for x in range (1,11): # para cada x entre 1 y 10.
  for y in range(1,11): # para cada y entre 1 y 10.
    print("{}*{}={}".format(x,y,x*y)) #multiplicacion

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [ ]:
# While
x = input ('Buenas noches')

while x != "hola":
  x=input("No me has saludado correctamente")

print("Que tal?")

Buenas nochesHola
No me has saludado correctamenteHabla
No me has saludado correctamenteHey
No me has saludado correctamenteQue pasp
No me has saludado correctamentehola
Que tal?

In [ ]:
x=20 
while (x>0):
  print("x se ha reducido a",x)
  x=x-1

x se ha reducido a 20
x se ha reducido a 19
x se ha reducido a 18
x se ha reducido a 17
x se ha reducido a 16
x se ha reducido a 15
x se ha reducido a 14
x se ha reducido a 13
x se ha reducido a 12
x se ha reducido a 11
x se ha reducido a 10
x se ha reducido a 9
x se ha reducido a 8
x se ha reducido a 7
x se ha reducido a 6
x se ha reducido a 5
x se ha reducido a 4
x se ha reducido a 3
x se ha reducido a 2
x se ha reducido a 1

In [ ]:
# break es para detener el loop/iteracion
x=1
while x<=10:
  if x==5:
    break
  print('x ahora es:',x)
  x=x+1

x ahora es: 1
x ahora es: 2
x ahora es: 3
x ahora es: 4

In [ ]:
# continue "salir" de la iteracion
for x in range(1,21):
  if (x%2 != 0):
    #print (x, 'es impar')
    if(x%3 == 0):
        print (x)

# debo un ejercicio de continue para enviar

3
9
15

In [ ]:
# Funciones

def cuadrado(x):
  area=x*x
  return area

In [ ]:
cuadrado(2.5)

6.25

In [ ]:
x = 11
print(cuadrado(x))

121

In [ ]:
def mayor_que (x,y):
  ''' Compara dos valores e indica si el primer argumento es mayor o menor que
  el segundo argumento indicando True o False '''
  if x>y:
    return True
  else:
    return False

In [ ]:
mayor_que(2,3)

False

In [ ]:
help (mayor_que)

Help on function mayor_que in module __main__:

mayor_que(x, y)
    Compara dos valores e indica si el primer argumento es mayor o menor que
    el segundo argumento indicando True o False

In [ ]:
def valores_unicos(a):
  x=[]
  for y in a:
    if y not in x:
      x.append(y)
  return x

In [ ]:
valores_unicos([1,2,3,3,3,4,5])

[1, 2, 3, 4, 5]